<div class="container-fluid bg-light m-auto">
  <div class="text-center">
    <h3 class='h3 p-4'>¿Sos fan de ir al teatro?</h3>
    <h5 class="h5 pb-4">Reservá tu lugar sin costo!</h6>
    <p class="pb-4">Encontrá los mejores eventos en nuestro sitio web!</p>
    <div class='pb-4'>
      <a class="btn btn-outline-danger" href="/inicio_sesion">Iniciar Sesión</a>
      <a class="btn btn-outline-danger" href="/registro">Registrarse</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body m-auto">
      <h5 class="card-title">Nombre del evento</h5>
      <a href="/inicio_sesion" class="btn btn-danger">Reservar para</a>
    </div>
  </div>
</div>
